@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps&display=swap');
/* this is a comment !*/

/* Css syntax

Selector{
  property : value
  property: value
}
*/

/* type Seletor*/

p { /* select all <p>*/
  font-size: 1em; /* 16px ?pt 100% 1em*/
  line-height: 1.5em;
}
figcaption{
 /* font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia "Times New Roman" serif;*/
  font: normal 0.75em/1.5em, Georgia, "Times New Roman", serif;
  color: #777;
  text-align: right;
}

/* class selector (applied to as many element as you like )*/
.milk-text{ /*Select element with class="milk-text"*/
font: bold 2.6em, 'Elsie Swash caps', cursive;
color: white;
box-shadow: 0 2px 3px #000;
}

/* ID selector applied to one element per page*/

#logo{/*Select element with id="logo"*/
  background: aqua
}

/*Descendent selector*/
#logo h1{/* Select h1 if inside the id="logo"*/
font-family: "Clicker Script", cursive;
}

#logo h2{/* Select h1 if inside the id="logo"*/
 font-family: "Elsie Swash", cursive;
}

/*Pseudo selector*/
#details a:link, a:visited  {
  color: black;
  text-decoration: none;
}

#details  a:hover{
  color: black;
  text-decoration: underline;
}

#details  a:active{
  color: red;

}